name: mobile_shop_online
description: A new Flutter project for the online shop.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # For making HTTP requests to the backend
  http: ^1.1.0

  # For simple state management (e.g., cart, auth status)
  provider: ^6.0.5

  # For storing simple data like tokens and user info locally
  shared_preferences: ^2.2.2

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
