# Flutter build and tool artifacts
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/

# IDE files
.idea/
*.iml
.vscode/

# OS junk
.DS_Store
Thumbs.db
